{% extends "articles/base.html" %}

<!-- Page Content -->
{% block article %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="post_header">
                <h1 class="mt-5">
                  {% block title%}
                  {{title}}
                  {% endblock %}
                </h1>
                <div class="date">
                  {% block lastmodiefied_date %}
                  {{lastmodiefied_date}}
                  {% endblock %}
                </div>
            </div>
            <hr>
              {% block summary%}
              {{summary}}
              {% endblock %}
            <hr>

            {% block content%}
            <!-- this is a filter which avoids filtering safe HTML. Without the filte
            text appears inside a string we want it to be rendered as HTML
            https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#safe -->
            {{content|safe}}
            {% endblock %}

        </div>
    </div>

{% endblock %}
