{% extends "articles/base.html" %}
{% block article %}

<!-- Page Content -->
<div class="container">

  <div class="post_header">
      <h1 class="mt-5">
        {{post.title}}
      </h1>
      <div class="date">
          <span> Written by {{post.author}} in {{post.lastmodiefied_date}}  </span>
      </div>
      <hr>
  </div>



  {% block content%}
  <!-- this is a filter which avoids filtering safe HTML. Without the filte
  text appears inside a string we want it to be rendered as HTML
  https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#safe -->
  {{post.content|safe}}
  {% endblock %}

</div>
<!-- Footer -->
{%include './footer.html'%}
{% endblock %}
