{% extends "articles/base.html" %}

<!-- Page Content -->
{% block article %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="post_header">
                <h1 class="mt-5">
                  {% block title%}
                  {{title}}
                  {% endblock %}
                </h1>
                <div class="date">
                  {% block lastmodiefied_date %}
                  {{lastmodiefied_date}}
                  {% endblock %}
                </div>
            </div>
            <hr>
              {% block summary%}
              {{summary}}
              {% endblock %}
            <hr>
            <p>
              {% block content%}
              {{content}}
              {% endblock %}
            </p>

        </div>
    </div>

{% endblock %}
