{% extends "articles/base.html" %}

<!-- Page Content -->
{% block article %}
    <div class="container">
        <div class="row">

        {{ form.media }}
        <form action="" method="post">
          {% csrf_token %}
          {{form.as_p}}
          <!-- <label for="get_name">Your name: </label>
          <input id="title" type="text" name="get_name" value="{{ title }}" maxlength="30" required>
          <input id="summary" type="text" name="get_name" value="{{ summary }}" maxlength="400" required>
          <input id="rating" type="text" name="get_name" value="{{ current_name }}" maxlength="1" required>
          <input type="text" name="get_name" value="{{ tags }}"> -->
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn w-25 btn-success btn-block btn-lg">Submit</button>
          </div
        </form>

        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}

        </div>
    </div>

{% endblock %}
