<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109432194-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109432194-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% load static %}
  <link rel="stylesheet" href="{% static "visaforyou/bootstrap/css/bootstrap.css" %}">
  {% load static %}
  <link rel="stylesheet" href="{% static "articles/css/style.css" %}" />
  <title>visaforyou</title>

</head>

<body>
  <div class="main">
    <!-- Header -->
    {% include './navbar.html'%}

    <!-- article body -->
    {% block article %}
    {% endblock %}

    
  </div>
</body>

<!-- Bootstrap core JavaScript -->
<script src="{% static "visaforyou/jquery/jquery.slim.min.js" %}"></script>
<script src="{% static "visaforyou/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</html>
