{% extends "articles/base.html" %}

{% block article %}

<div class="container">
    {% for post in object_list %}
    <div class="row" id="blog_entry">
      <div class="col">
            <h1 id="blog_title">{{post.title}}</h1>
            <div class="date mb-1 text-muted">
                <span> written by {{post.author}} in {{post.lastmodiefied_date}}</span>
            </div>
            <hr>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quam sit, esse atque harum praesentium ab, sunt molestias itaque
               quaerat obcaecati commodi aliquid voluptate corrupti?
                Eius quisquam voluptate corrupti nobis et.
                <a href={% url "read_article" post.slug %}>Continue reading</a>
            </p>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Footer -->
{%include './footer.html'%}
{% endblock %}
